# dependencies
/node_modules

# next.js
/.next
/build
next-env.d.ts

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env
.env*.local

# application
*.tsbuildinfo
/.mesh
/.gql
*.gql.ts
